<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <div class="social-links">
          {%- include social.html -%}
        </div>  <br><br><br>
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      <p style="color: $text-color;" >
      UM-DAE Centre for Excellence in Basic Sciences <br>
      "Nalanda", Opp Nano Sciences Building,<br>
      University of Mumbai, Vidyanagari, <br>
      Mumbai 400098, India.</p>
      </div>

      <div class="footer-col">
        <p style="color:$text-color;" >{{ site.description | escape }}</p>

        <h2 style="color:$text-color;">Useful Links</h2>
        <a href="https://cbs.ac.in" rel="noopener" target="_blank">UM DAE CEBS</a><br>
        <a href="#">About Us</a><br>
        <a href="#">Events</a><br>
        <a href="#" target="_blank">Website Feedback </a>
      </div>
    </div>

  </div>

</footer>
