---
layout: default
---


<style>
@media only screen and (max-width: 585px) {

  .column {
    float: left;
    width: 100%;
    padding: 10px;
    margin:none;
  }
  .container {
    width: 90%;
    margin-bottom: 40px;
    overflow: auto;
  }
  .events {
    width: 5%;
  }
}
@media only screen and (max-width: 900px) and (min-width: 585px){
  .imagebox {
    width: 100%;
    float: left;
  }
  .textbox {
    clear:left;
    text-align: justify;
    padding-top: 14px;
  }
  .container {
    width: 100%;
    margin-bottom: 40px;
    overflow: auto;
  }
  .events {
    max-width: 15em;
  }

  .imagebox1 {
    width: 45%;
    float: left;
  }
  .textbox1 {
    width: 50%;
    float: right;
    text-align: justify;
    padding-top: 14px;
  }
  .column {
  min-width: 100%;
  }
  .seg {
    margin-bottom:100px;
  }
}
@media only screen and (min-width: 900px) {

.imagebox {
  width: 45%;
  float: left;
}
.events {
  width: 5%;
}
.textbox {
  width: 55%;
  float: right;
  text-align: justify;
  padding-top: 14px;
}
.container {
  width: 100%;
  margin-bottom: 40px;
  overflow: auto;
}
.column {
  float: left;
  width: 30%;
  padding: 10px;
}
.info {
  text-align: justify;
}

}

</style>


<main class="page-content" aria-label="Content">
<body>
  <div class="complete">
    <span>
      <div class="container">
        <h1>About CEBS</h1>
        <div class="imagebox">
          <img src="/assets/img/about/about_cbs.jpeg" alt="about cbs" style="position: relative; top: -7px;">
        </div>
        <div class="textbox">
          <p>The Centre for Excellence in Basic Sciences (CEBS) is a joint academic venture of the University of Mumbai (UM) and the Department of Atomic Energy (DAE), Government of India. The institute primarily offers 5-year integrated MSc courses in four streams of basic sciences, namely Physics, Chemistry, Biology and Mathematics. <br> Students join the centre through the National Entrance Screening Test (NEST) after completing 10+2 or equivalent level of schooling. All four subjects are taught in the first year, and students can opt the stream of their choice second year onwards.</p>
        </div>
      </div>
    </span>
    <hr>
    <span>
      <div class="container">
        <h1>About the Club</h1>
        <div class="imagebox">
          <img src="/assets/img/1.jpg" alt="about cbs">
        </div>
        <div class="textbox">
          <p>We are a team of student volunteers from different years and streams, and take an active part in building a safe and inquisitive environment at the institute. Through our sessions we also wish to motivate independent pursuit of knowledge, and strengthen the relationship of the community with the world of research. Read more in our blog.
        </div>
      </div>
    </span>
    <hr>
    <span>
    <h1>Our Events</h1><br>
      <div class="container">

          <span><div class="column seg">
          <img class="events imagebox1" src="/assets/img/about/rendezvous.jpg" alt="rendezvous" style="width:100%">
          <div class="textbox1">
          <h1>Rendezvous</h1><p class="info">In these sessions we invite researchers and host a lively dialogue of students with them. The conversation often begins around a central scientific theme in an informal and comfortable setting. We facilitate and encourage students to ask questions, which bring out more elaborate perspectives from the discussion. </p>
          </div>
          </div>
          </span>
          <span><div class="column seg">
          <img class="events imagebox1" src="/assets/img/about/open_mic.jpg" alt="open_mic" style="width:100%">
          <div class="textbox1">
          <h1>Open Mic</h1><p class="info">OOpen Mics provide students with an opportunity to explore their scientific interests and share them with the community. The session begins with 5-6 students briefly introducing a topic of their interest. This is followed by a discussion session, where the speakers elaborate on their topic with smaller groups of students in greater depth. </p>
          </div>
          </div>
          </span>
          <span><div class="column seg">
          <img class="events imagebox1" src="/assets/img/about/interactive_session.jpg" alt="interactive_session" style="width:100%">
          <div class="textbox1">
          <h1>Interactive Session</h1><p class="info">Here we invite researchers and have free-flowing conversations with them on a variety of topics. For example, we try to understand the problems certain sections of our society are facing and how we can try to solve them. We also talk about their impressions and experiences throughout their journey in academia. </p>
          </div>
          </div>
          </span>

      </div>
    </span>
    <span>
      <div class="container">

          <span><div class="column seg">
          <img class="events imagebox1" src="/assets/img/about/baithak.png" alt="baithak" style="width:100%">
          <div class="textbox1">
          <h1>Baithak</h1><p class="info">Baithak is a unique platform for students to express their thoughts and feelings. It provides us with an opportunity to understand fellow students at a more personal level. The format is very similar to open mics, except that what students want to share need not be prepared beforehand.</p>
          </div>
          </div>
          </span>
          <span><div class="column seg">
          <img class="events imagebox1" src="/assets/img/about/counselling.png" alt="counselling" style="width:100%">
          <div class="textbox1">
          <h1>Counselling</h1><p class="info">We have had a variety of such events in the past, where we invite some of our professors to advise us all as to how we can make the best utilization of our academic opportunities. We talk about how we can build our interest in science and research, the academic life ahead of our current program, and so on.</p>
          </div>
          </div>
          </span>
          <span><div class="column seg ">
          <img class="events imagebox1" src="/assets/img/about/student_talk.jpg" alt="student_talk" style="width:100%">
          <div class="textbox1">
          <h1>Student Talk</h1><p class="info">INCOMPLETE</p>
          </div>
          </div>
          </span>

      </div>
    </span>
</body>
</main>
