---
layout: default
---
<main class="page-content" aria-label="Content">
<h1>Check out our social media!</h1>
<div style="display:inline;">
<a href="https://www.facebook.com/cbsscienceclub/" target="_blank"><img src="/assets/img/social/fb.png" width="47px" hspace="18" vspace="0"></a>
<a href="https://www.youtube.com/channel/UCRy7SYipSK6PNlkjksPWR1w" target="_blank"><img src="/assets/img/social/yt.png" width="47px" hspace="18" vspace="0"></a>
<a href="https://twitter.com/ScienceClubCBS" target="_blank"><img src="/assets/img/social/tw.png" width="47px" hspace="18" vspace="0"></a>
</div>
<hr>
<p>We are a team formed by volunteers from different years and streams at the centre. Read more about our impression of the club in our blog.<br><br>
If you’d like to collaborate with us or be a part of the team, kindly let us know. Feel free to mail us for any suggestions or query.</p>
<h2>Contact us via e-mail</h2>
<a class="u-email" href="mailto:science.club@cbs.ac.in">science.club@cbs.ac.in</a>
<hr>
<div style="display: flex; align-items: center; justify-content: center;">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSctdALxZby0wEPJR-JJX0Pgr1uWKu52K2ITU5hCFmxQM9fzBQ/viewform?embedded=true" width="700" height="640" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>
</main>
